# Ignorar este arquivo
.gitignore

# Ignorar arquivo de template
cgbr-400x400px.psd

# Ignorar em binarios
/target/debug/*
!/target/debug/gravisCgbr.exe
/target/release/*
!/target/release/gravis_cgbr.exe
# Arquivos lock
Cargo.lock

# Arquivos de log
**/*.log

# Arquivos de ambiente e configurações(como .env)
.env
config.json

# Arquivos de configuração do editor específicos do usuário
.vscode/
*.swp
*~
/target/.rustc_info.json
/target/CACHEDIR.TAG

# Arquivos de sistema específicos do MacOS
.DS_Store