# Ignorar tudo dentro do diretório target
/target/*

# Exceto arquivos sem extensão (binários)
!/target/*.exe

# Arquivos lock
cargo.lock


# Arquivos de log
**/*.log

# Arquivos de ambiente (como .env)
.env

# Arquivos de configuração do editor específicos do usuário
.vscode/
*.swp
*~

# Arquivos de sistema específicos do MacOS
.DS_Store